/*---Load fonts---*/
@font-face{
	/*Font for title*/
	font-family: HarowSoildItalic;
	src: url(HARLOWSI.ttf);
}

@font-face{
	font-family: OpenSansBold;
	src: url(OpenSans-Bold.ttf);
}

@font-face{
	font-family: OpenSansLight;
	src: url(OpenSans-Light.ttf);
}

/* ---Styles for main page---*/
body {
	background-image: url("backround.jpg");
	background-size: 100% 100vh;
	background-attachment: fixed;
	width: 100%;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

/* Classes */
.main-top-right{
	color: #cccccc;
	margin: 0 auto;

	/*font definition*/
	font-family: OpenSansLight;
	letter-spacing: -0.015em;
	font-size: 3vmin;
}

.main-top-right li{
	float: right;
	cursor: pointer;
	margin: 0.5em 1em 0 0; /*creates spacing between about and contact*/
}

.main-top-right li:hover{
	color: #D1D1C7; /*changes text color to lighter shade*/
	text-shadow: 0 0 1px #D1D1C7; /*creates small glare effect around text*/
}

/*Class applied when about or contact are selected*/
.main-selected-about-contact{
	color: #D1D1C7; /*changes text color to lighter shade*/
	text-shadow: 0 0 1px #D1D1C7; /*creates small glare effect around text*/
}

.main-section-list{
	color: #ffffff;
	width: 76%;
	padding: 0;
	margin: calc(85vh - 22vmin) 12% 0 12%;
	height: 1.5em;
	width: 76%;

	text-align: justify;

	/*font definition*/
	font-family: OpenSansBold;
	font-size: 5vmin;
	-webkit-text-stroke: 1px black;

	-webkit-transition: margin 1s;
}

/*Utter hax to evenly space items in main-section-list
http://stackoverflow.com/questions/5060923/how-to-stretch-html-css-horizontal-navigation-items-evenly-and-fully-across-a/17951253#17951253 */
.main-section-list:after{
	content: '';
	display: inline-block;
	width: 100%;
}

.main-section-list li{
	display: inline-block;
	margin: 0 auto;
	cursor: pointer;
}



/* Id's */
#main-about{
}

#main-contact{
}

#main-title{
	font-family: HarowSoildItalic;
	text-align: center;
	pointer-events: none;
	color: #cccccc;
	font-size: 15vmin;
	padding: 10vmin 0 0 0;
	-webkit-text-stroke: 1px black;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main-recent{

}

#main-projects{

}

#main-blog{

}

#main-readroll{

}

/*Container that holds page content*/
.section-container{
	width: 100%;
	height: 100%;
	margin: 5vh 0 0 0;
	background: white;
	border-style: solid;
	border-width: 2px 0 0 0;
	border-color: gray;
	opacity: 0.9;
	-webkit-transisitions: margin 1s;
}

/*Container for holding the about or contact page*/
.about-contact-page{
	background: white;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	width: 100%;
	height: 100vh;
}

/*Classes for transitioning each section title to center when selected.
Functionality is implimented in javascript*/
.main-sect-active:read-only{
	margin: 0vh 0 0 0;
}

.recent-active:read-only{
	margin: 1vh auto 0 calc(53vw - 9.5vw);
}

.projects-active:read-only{
	margin: 1vh auto 0 calc(51vw - 9.5vw - 19vw);
}

.blog-active:read-only{
	margin: 1vh auto 0 calc(50vw - 9.5vw - 38vw);
}

.readroll-active:read-only{
	margin: 1vh auto 0 calc(48vw - 9.5vw - 57vw);
}

/*For tab elements when not being the selected one*/
.tab-passive{
    opacity: 0.3;
}

.parent-viewport{
	overflow: hidden;
	width: 100%;
	height: 100%;
}

.child-viewport{
	width: calc(100% + 20px);
	height: calc(100% + 20px);
	overflow-y: auto;
	overflow-x: hidden;
	padding-right: 15px;
	padding-bottom: 15px;
}